/* CSS for lab 20 - Flowers.html */
* {
    box-sizing: border-box;
}

#flowerbed {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform : translate(-50%, -50%); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform     : translate(-50%, -50%); /* IE 9 */
    transform         : translate(-50%, -50%); /* Firefox 16+, IE 10+, Opera */
}

.flower-image {
    width: 129px;
    height: 129px;
    margin: 10px;
    float: left;
    transition: scale 1s ease-in-out;
    transition-property: all;
    z-index: 1;
    position: relative;
}

img:nth-child(4n+1) {
    clear: both;
}

#flowerbed:hover img {
    opacity: .1;
}

#flowerbed img:hover {
    opacity:1;
    -webkit-transform : rotate(180deg) scale(1.5); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform     : rotate(180deg) scale(1.5); /* IE 9 */
    transform         : rotate(180deg) scale(1.5); /* Firefox 16+, IE 10+, Opera */
    transition: transform 1s ease-in-out;
    transition: z-index 1s ease-in-out;
    transition-property: all;
    z-index: 2;
}

.attribution {
    position: fixed;
    right: 0;
    bottom: 0;
}