@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Satisfy');

html {
    max-width: 100%;
    overflow-x: hidden;
}

nav {
    font-family: 'Open Sans', sans-serif;
}

html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

footer{
    display: inline-block;
    width: 100%;
}

.homepage-body { 
    background-image: url("images/guitarist-home.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 45% 7%;
    z-index: 0;
}

.home-header {
    width: 100%;
    height: 100vh;
    position: relative;
}

.click-to-scroll {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: auto; 
    margin-right: auto;
    height: 80px;
}

.click-to-scroll:hover {
    cursor: pointer;
}

.container {
    position: absolute;
    top: 100%;
    max-width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(16,16,16,.6);
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 10px;
}

.page-header {
    margin-top: 60px;
    color: white;
}

.main-text {
    color: white;
    font-size: 1em;
}

.mobile-nav-menu {
    display: none;
    position: fixed;
    padding: 8px 0 0 15px;
    font-family: 'Open Sans', sans-serif;
    transition: font-size .5s;
}

.social-icons ul {
    padding-left: 0;
}

.social-icons ul li img {
    width: 5%;
    margin-left: 48.1%;
}

.social-icons ul li img:hover {
    cursor: pointer;
}

.footer-text-center {
    color: dimgray;
    text-align: center;
    font-size: 1em;
}

.alex {
    color:white;
    text-align: center;
    font-size: 1em;
    margin-bottom: 10px;
}

.signature {
    font-family: 'Satisfy', cursive;
    color: white;
    position: fixed;
    right: 0;
    left: 0;
    text-align: center;
    font-size: 50px;
    padding-top: 10px;
    transition: font-size .5s;
}

.open-nav {
    font-size: 50px;
}

/* Mobile */
@media (max-width: 700px) { 
    .mobile-nav-menu {
        display: block;
        font-size:7vw;
        cursor:pointer;
        color: white;
        z-index: 1;
        transition: margin-left .5s;
        width: 100%;
    }
    .social-icons ul li img {
        width: 10%;
        margin-left: 46%;
    }

    .signature {
        font-size: 7vw;
        padding-top: 10px;
    }

    .open-nav {
        font-size: 5vw;
    }
}

/* Tablets */
@media only screen and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {

}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}