/* lab 13 book */
* {
    box-sizing: border-box;
  }

.titleauthor {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: none;
    text-align: center;
}

header {
    background-color: darkorchid;
    margin: 0;
    padding: 20px;
}

nav {
    background-color: darkcyan;
    margin: 0;
    padding: 20px;
    float: left;
    width: 100%;
}

main {
    background-color: darkgoldenrod;
    margin: 0;
    padding: 20px;
    display: inline-block;
    width: 100%;
}

h2 {
    margin: 0;
}

span {
    display: none;
}

li {
    display: inline-block;
}

aside {
    padding: 5px;
    background-color: lightgoldenrodyellow;
    font-size: 20px;
    width: 100%;
}

.poem {
    white-space: pre-wrap;
}

@media (min-width: 600px) {
    nav {
        width: 300px;
        position: absolute;
        height: 100%;
    }

    span {
        display: inline-block ;
    }

    li {
        display: block;
    }

    aside {
        float: right;
        width: 400px;
    }
    
    main {
        width: calc(100% - 300px);
        margin-left: 300px;
    }

    ul {
        text-align: left;
    }
}